@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  padding: 0.5em 0.5em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 650px;
  color: #6d6d6d;
}

.speech-bubble {
  position: relative;
  padding: 1.5em;
  border-radius: 10px;
  box-sizing: border-box;
  background: #eaf5fa;
  box-shadow: -2px 2px 12px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 30px
}

.speech-bubble::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -2em;
  left: 42.5%;
  box-sizing: border-box;
  border: 1em solid black;
  border-color: transparent transparent #eaf5fa #eaf5fa;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -4px 4px 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 0;
}

#bubble-title {
  font-size: 1.3em;
  margin-bottom: 8px;
}

#form-box {
  height: content;
  padding: 1.5em 2.5em;
  border-top: 0px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  box-shadow: -4px 4px 10px 0 rgba(0, 0, 0, 0.2);
}

#form-title {
  font-size: 1.6em;
  padding-bottom: 6px;
  margin-bottom: 15px;
  border-bottom: 1.5px solid #E8E8E8;
}

.form-header {
  font-size: 16px;
  margin-bottom: 2px;
}

.form-input {
  width: 70%;
  height: 30px;
  font-size: 16px;
  padding-left: 6px;
}

.form-input:not(:last-child) {
  margin-bottom: 15px;
}

input[type=submit] {
  display: block;
  -webkit-appearance: button;
  font-size: 15px;
  width: 135px;
  height: 36px;
  margin-left: 254px;
  background-color: #E18988;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
}

/*Forces .form-input styles onto search type*/
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
} 